.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-cancel {
  color: rgb(51, 47, 47);
  padding: 8px 24px;
  border-radius: 4px;
  background: #fad07a;
  transition: background 0.3s ease;
}

.btn-cancel:hover {
  background: #e9af3a;
  color: rgb(51, 47, 47);
}
